.container {
    width: 500px;
    height: 100%;
    background-color: black;
    color: #fff;
    border-radius: .7rem;
    position: relative;
    
    header {
        background-color: rgb(75, 75, 190);
        color: white;
        padding: .5rem;
        font-weight: bold;
        border-radius: inherit;
    }

    section{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
    }

    .loading {
        width: 100%;
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 1.5rem;
        color: #fff;
    }

    .getCity {
        display: flex;
        margin: 8px 2px;
        * {
            flex: 1;
        }

        .pdropdown {

            input {
                padding: 4px;
                outline: none;

                &:focus {
                    outline: none;
                }
            }

            .dropdown {
                height: 200px;
                overflow-y: auto;
                position: absolute;
                background-color: #fff;
                color: black;
                margin-right: 1px;

                li {
                    cursor: pointer;

                    &:hover {
                        
                    background-color: #888;
                    }
                }
            }
        }

        .cdropdown {
            input {
                padding: 4px;
                outline: none;

                &:focus {
                    outline: none;
                }
            }
            .dropdown {
                height: 200px;
                overflow-y: auto;
                position: absolute;
                background-color: #fff;
                color: black;
                margin-right: 1px;

                li {
                    cursor: pointer;

                    &:hover {
                        
                    background-color: #888;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .container {
        width: 100svw;
        height: 100svh;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }