<div class="container">
    <header>اوقات شرعی</header>
    <form class="getCity" >
        <div class="pdropdown">
            <input class="province" type="text" placeholder="استان" value="{{ (province$ | async)?.Name }}" (click)="openPdrawer()" (blur)="closePdrawer($event)">
            <div class="dropdown" *ngIf="pDrawerState">
                <ul *ngFor="let p of (provinces$ | async)" >
                    <li (click)="setPname(p.Name, p.Code)" >{{p.Name}}</li>
                </ul>
            </div>
        </div>
        <div class="cdropdown">
            <input class="city" type="text" placeholder="شهر" value="{{ (city$ | async)?.Name }}"  (click)="openCdrawer()" (blur)="closeCdrawer()">
            <div class="dropdown" *ngIf="cDrawerState">
                <ul *ngFor="let c of (provinceCities$ | async)" >
                    <li >{{c.Name}}</li>
                </ul>
            </div>
        </div>
        <button type="submit">برو</button>
    </form>
    <div class="loading" *ngIf=" (status$ | async)?.status === 0">
        <span >
            لطفا کمی صبر کنید...
        </span>
    </div>
    <div class="loading" *ngIf=" (status$ | async)?.status === 2">
        <span>
            سیستم با خطا مواجه شد... 
        </span>
    </div>
    
    <div class="times" >
        <section>
            <div class="subject">نام شهر</div>
            <div class="value">{{ (data$ | async)?.CityName }}</div>
        </section>
        <section>
            <div class="subject">تاریخ امروز</div>
            <div class="value">{{ (data$ | async)?.Today }}</div>
        </section>
        <section>
            <div class="subject"> اذان صبح</div>
            <div class="value">{{ (data$ | async)?.Imsaak }}</div>
        </section>
        <section>
            <div class="subject"> طلوع آفتاب</div>
            <div class="value">{{(data$ | async)?.Sunrise}}</div>
        </section>
        <section>
            <div class="subject"> اذان ظهر</div>
            <div class="value">{{(data$ | async)?.Noon}}</div>
        </section>
        <section>
            <div class="subject"> غروب خورشید</div>
            <div class="value">{{(data$ | async)?.Sunset}}</div>
        </section>
        <section>
            <div class="subject"> اذان مغرب</div>
            <div class="value">{{(data$ | async)?.Maghreb}}</div>
        </section>
        <section>
            <div class="subject"> نیمه شب شرعی</div>
            <div class="value">{{(data$ | async)?.Midnight}}</div>
        </section>
    </div>
</div>