.container {
    width: 500px;
    height: 500px;
    background-color: black;
    color: #fff;
    border-radius: .7rem;
    
    header {
        background-color: rgb(75, 75, 190);
        color: white;
        padding: .5rem;
        font-weight: bold;
        border-radius: inherit;
    }

    section{
        display: flex;
        justify-content: space-between;
        padding: .5rem;
    }

    .loading {
        width: 100%;
        background-color: red;
    }
}


@media screen and (max-width: 500px) {
    .container {
        width: 100svw;
        height: 100svh;
    }
}